<h2><%= @game.player1.health_points %>HP: <%= @game.player1.name %> vs. <%= @game.player2.name %>: <%= @game.player2.health_points %>HP</h2><br>

<h4><%= @game.current_turn.name %>'s turn<h4>
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>