<%= @game.player1.name %> vs. <%= @game.player2.name %><br><br>

<%= @game.player1.name %>: <%= @game.player1.health_points %>HP<br><br>
<%= @game.player2.name %>: <%= @game.player2.health_points %>HP<br><br>

<%= @game.current_turn.name %>'s turn<br><br>
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>