<div class="container">
  <div class="flex_col_center block_box">
    <h3><%= @game.player1.name %></h3>
    <div class="flex_row_center">
      <i class="fas fa-skull-crossbones"></i>
      <meter class="vertical" max="50" value="<%=@game.player1.health_points%>"></meter>
      <i class="fas fa-heartbeat"></i>
    </div>
    <p><%= @game.player1.health_points %><span id="health_points"> HP</span></p>
  </div>
</div>


<div class="container">
<div class="block_box gradient-text" id="versus_in_game">
<h1><%=@game.player1.name%></h1>
<h1>v</h1>
<h1><%=@game.player2.name%></h1>
</div>
</div>



<div class="container">
<div class="block_box" id="actionbox">
<h4 id="playerturn"><%= @game.current_turn.name %></h4>

<form action="/attack" method="post" class="attack_toolbar flex_col_center">
  <div class="flex_row_center">

  <input type="radio" value="head_kick" id="head-kick" name="attack_type">
  <label for="head-kick">head kick</label>

  <input type="radio" value="body_kick" id="body-kick" name="attack_type">
  <label for="body-kick">body kick</label>

  <input type="radio" value="upper_cut" id="upper-cut" name="attack_type">
  <label for="upper-cut">upper cut</label>

  <input type="radio" value="right_hook" id="right-hook" name="attack_type">
  <label for="right-hook">right hook</label>

  </div>
  <input type="submit" value="attack" id="playsubmitbutton">
</form>
</div>
</div>

<div class="container">
  <div class="flex_col_center block_box">
    <h3><%= @game.player2.name %></h3>
    <div class="flex_row_center">
      <i class="fas fa-heartbeat"></i>
      <meter id="player2_meter" max="50" value="<%=@game.player2.health_points%>"></meter>
      <i class="fas fa-skull-crossbones"></i>
    </div>
    <p><%= @game.player2.health_points %><span id="health_points"> HP</span></p>
  </div>
</div>